<div class="medium-4 columns panel form" data-equalizer-watch>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="henrik">Henrik</option>
          <option value="hans">Hans</option>
          <option value="daniel">Daniel</option>
          <option value="alex">Alexander</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Välj något</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Ja</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Nej</label>
    </div>
    <div class="large-6 columns">
      <label>Checka</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Ärende
        <textarea rows="4" placeholder="Ditt ärende..."></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="small-6 small-centered columns">
      <br/>
      <a href="#" class="button radius alert">Skicka</a>
    </div>
  </div>
</div>
