  <div class="row">
    <div class="large-12 columns">
      <label>Ärende
        <select>
          <option value="henrik">Infrastruktur</option>
          <option value="hans">Drift &amp; support</option>
          <option value="daniel">Webb &amp; utveckling</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns">
      <label>Din e-post</label>
      <input id="checkbox1" name="phone" type="email">
    </div>
    <div class="large-5 columns">
      <label>Ditt tel.nr</label>
      <input id="checkbox1" name="phone" type="tel">
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Meddelande
        <textarea rows="5" placeholder="Ditt ärende..."></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">&nbsp;</div>
  </div>
  <div class="row">
    <div class="small-2 columns"></div>
    <div class="small-8 large-centered columns">
      <a href="/" class="button radius alert contact-button">Kontakta oss</a>
    </div>
    <div class="small-2 columns"></div>
  </div>
