<div class="medium-4 columns panel form" data-equalizer-watch>
  <div class="row">
    <div class="large-12 columns">
      <label>Ärende
        <select>
          <option value="henrik">Infrastruktur</option>
          <option value="hans">Drift &amp; support</option>
          <option value="daniel">Webb &amp; utveckling</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Epost</label>
      <input id="checkbox1" name="phone" type="email">
    </div>
    <div class="large-6 columns">
      <label>Telefon</label>
      <input id="checkbox1" name="phone" type="tel">
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Ärende
        <textarea rows="6" placeholder="Ditt ärende..."></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <input id="checkbox1" name="call" type="checkbox"><label for="call">Jag vill bli uppringd</label>
    </div>
    <div class="small-4 columns">
      <a href="/" class="button radius alert contact-button right">Skicka</a>
    </div>
  </div>
</div>
