<div class="medium-4 columns panel form" data-equalizer-watch>
  <div class="row">
    <div class="small-12 columns">
      <h5>Sök domännamn</h5>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <span class="prefix">http://</span>
    </div>
    <div class="small-9 columns">
      <input type="text" id="domainName" name="q" placeholder="url.se">
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <p>Hittar du vad du söker? Kontakta oss så tar vi hand om registrereringen av din nya domän!</p>
    </div>
  </div>

  <div class="row">
    <div class="small-8 small-centered columns">
      <br/><br/><br/><br/><br/><br/>
      <a href="#" id="domainSearch" class="button radius">Kontakta oss</a>
    </div>
  </div>

</div>
