<div class="stars"><i class="fi-star"></i> <i class="fi-star"></i> <i class="fi-star"></i></div>

<div id="footer">
	<div class="row">
	  	<div class="small-12 medium-6 large-4 columns">
	  		<section>
		  		<h5>AID Solutions</h5>
		  		<span class="footer-info">
		  		<p>AID Solutions Väst AB är ett komplett IT-företag som levererar allt inom data till kunder i Västsverige. Vi tar helhets­ansvar för service, support och drift.
				Lösningar från AID ska bidra till förenklad kommunikation och besparingar i form av minskade kostnader för drift och underhåll.</p>
				</span>
			</section>
	  	</div>
		<div class="small-12 medium-6 large-4 columns">
			<section>
		  		<h5>Partners</h5>
		  		<span class="footer-info">
					<p>AID Solutions Väst AB är certifierad Microsoft Partner.<p>
				</span>
			</section>
	  	</div>
		<div class="small-12 medium-6 large-4 columns">
	  		<section>
		  		<h5>Kontakt</h5>
		  		<span class="footer-info">
	    		<p>AID Solutions Väst AB<br/>
	      			Bergsgatan 3<br/>
	      			434 32 Kungsbacka
	    		</p>
			    <p>
			      Tel: 0300-10044<br/>
			      E-post: info@aid.se<br/>
			    </p>
				</span>
			</section>
	  	</div>
  	</div>
</div>