<div class="curtain2">
  <div id="slide-away" class="row">
    <div class="large-12 small-12 columns">
      <h1>AID. Er IT-partner <br/>för allt inom data. <br/><small>Bergsgatan 3&nbsp;&nbsp;|&nbsp;&nbsp;434 32 Kungsbacka&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:info@aid.se">info@aid.se</a>&nbsp;&nbsp;|&nbsp;&nbsp;0300-10044</small></h1>

    </div>
  </div>
  <a href="#02"><%= image_tag "downarrow_small_nolines_white.png", :id => 'down-arrow' %></a>
</div>
