<div id="02" class="row icon-content">
  <div class="small-12 medium-6 large-3 columns icon-container"><a href="#infrastruktur"><%= image_tag "network.png", :id => "icon-infrastruktur", :class => 'front-icon' %><span class="icon-caption">INFRASTRUKTUR</span></a></div>
  <div class="small-12 medium-6 large-3 columns icon-container"><a href="#hosting"><%= image_tag "cloud.png", :id => "icon-hosting", :class => 'front-icon' %><span class="icon-caption">HOSTING</span></a></div>
  <div class="small-12 medium-6 large-3 columns icon-container"><a href="#support"><%= image_tag "shield.png", :id => "icon-support", :class => 'front-icon' %><span class="icon-caption">DRIFT &amp; SUPPORT</span></a></div>
  <div class="small-12 medium-6 large-3 columns icon-container"><a href="#webb"><%= image_tag "screen.png", :id => "icon-webb", :class => 'front-icon' %><span class="icon-caption">WEBB &amp; UTVECKLING</span></a></div>
</div>
