<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>AID Solutions Väst AB</label></li>
    <p>
      Bergsgatan 3<br/>
      434 32 Kungsbacka
    </p>
    <p>
      Tel: 0300-10044<br/>
      E-post: info@aid.se<br/>
    </p>
    <hr />
    <p>
      AID Solutions Väst AB är ett komplett IT-företag som levererar allt inom data till kunder i Västsverige. Vi tar helhets&shy;ansvar för service, support och drift.
    </p>
    <p>
      Lösningar från AID ska bidra till förenklad kommunikation och besparingar i form av minskade kostnader för drift och underhåll.
    </p>
    <p>
      AID har mångårig erfarenhet av att utveckla lösningar till företag i olika branscher och situationer. Ingen fråga är för stor eller för liten för oss.
    </p>
    <p>
      AID Solutions Väst AB är certifierad Microsoft Partner.
    </p>
  </ul>
</aside>