<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">

    <li><a class="label-link" href="/index.html"><label>START</label></a></li>

    <li><a class="label-link" href="/tjanster"><label>TJÄNSTER</label></a></li>
    <li><a href="/tjanster/infrastruktur">&raquo; Infrastruktur</a></li>
    <li><a href="/tjanster/sakerhet">&raquo; Säkerhet</a></li>
    <li><a href="/tjanster/drift-och-support">&raquo; Drift &amp; support</a></li>
    <li><a href="/tjanster/webb-och-utveckling">&raquo; Webb &amp; utveckling</a></li>
    <li><a href="/tjanster/licenser-och-sam">&raquo; Licenser &amp; SAM</a></li>

    <li><a class="label-link" href="/produkter"><label>PRODUKTER</label></a></li>
    <li><a href="/produkter/it-utrustning">&raquo; IT-utrustning</a></li>
    <li><a href="/produkter/servicedesk">&raquo; Servicedesk</a></li>
    <li><a href="/produkter/licenser-och-sam">&raquo; Licenser &amp; SAM</a></li>

    <li><a class="label-link" href="/hosting"><label>HOSTING</label></a></li>
    <li><a href="/hosting/virtuell-privat-server">&raquo; Virtuell privat server</a></li>
    <li><a href="/hosting/dedikerad-server">&raquo; Dedikerad server</a></li>
    <li><a href="/hosting/webbhosting">&raquo; Webbhosting</a></li>
    <li><a href="/hosting/exchange">&raquo; Exchange</a></li>
    <li><a href="/hosting/lync">&raquo; Lync</a></li>
    <li><a href="/hosting/office365">&raquo; Office 365</a></li>

    <li><a class="label-link" href="/resurser"><label>RESURSER</label></a></li>
    <li><a href="/resurser/dokument">&raquo; Dokument</a></li>
    <li><a href="/resurser/manualer">&raquo; Manualer</a></li>
    <li><a href="/resurser/applikationer">&raquo; Applikationer</a></li>

    <li><a class="label-link" href="/om-oss"><label>OM OSS</label></a></li>
    <li><a href="/om-oss/medarbetare">&raquo; Medarbetare</a></li>
    <li><a href="/om-oss/foretaget">&raquo; Företaget</a></li>
    <li><a href="/om-oss/vision">&raquo; Vår vision</a></li>
    <li><a href="/om-oss/kontakt">&raquo; Kontakt</a></li>
  </ul>
</aside>
