<% nav = current_page.data.team_nav.at(0) %>

<div class="row team-nav">
  <div class="small-2 columns"><a href="<%= nav.prev %>"><i class="fi-arrow-left"></i> <i class="fi-torso"></i></a></div>
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-3 columns"><a href="/om-oss/medarbetare/"><center><i class="fi-torsos-all"></i> <small></small></center></a></div>
  <div class="small-4 columns"><a href="<%= nav.next %>"> <i class="fi-arrow-right right"></i><i class="fi-torso right">&nbsp;</i></a></div>
  <div class="small-1 columns">&nbsp;</div>
</div>
