---
title: tjänster > webb &amp; utveckling
---
<div class="page-content">
  <div class="row">
    <div class="small-12 columns">
      <h2>Webb &amp; utveckling</h2>
    </div>
    <div class="medium-8 columns">
      <%= partial "articles/tjanster/webb-och-utveckling" %>
    </div>
    <div class="medium-4 columns right">
      <%= tag :img, :class => 'article-thumb', :src => lorem.image('1200x800', :text => 'placeholder image') %>
      <%= tag :img, :class => 'article-thumb', :src => lorem.image('1200x800', :text => 'placeholder image') %>
    </div>
  </div>
</div>
