@import "settings";
@import "foundation.scss";
@import "foundation-icons.css";

.off-canvas-wrap {
    min-height: 100% !important;
}

a.clean {
    padding: 0;
    margin: 0;
    color: inherit;
}

h2, h2.inline, h3, h3.inline {
  font-weight: 700;
}

// .tab-bar .menu-icon span {
//   transition:
// }

.tab-bar .menu-icon:hover span {
  box-shadow: 0 0px 0 1px $accent-color, 0 7px 0 1px $accent-color, 0 14px 0 1px $accent-color;
}

a.clean:hover {
    opacity: 0.7;
}

.label.secondary {
    position: relative;
    top: -3px;
    left: 10px;
    transition: background-color 300ms ease;
}

.label.secondary:hover {
    background-color: $accent-color;
}

.small-screen-image {
    margin-bottom: 30px;
}

.inner-wrap {
  min-height: 910px;
}

ul.off-canvas-list {
    font-family: "Roboto";
    font-size: 0.7rem;
    font-weight: 300;
    margin: 29px 29px 29px 13px;

    li label {
        padding: 0.3rem 0.9375rem 0.5rem 0.9375rem;
        margin: 11px 0 -5px 12px;
        border: none;
        font-weight: 300;
    }

    li a {
        padding: 4px 20px;
        color: $bg-white;
        font-weight: 300;
        margin-left: 0.5rem;
        transition: color 300ms ease;
    }
    li a:hover {
        color: $accent-color;
        background-color: $bg-dark;
    }

}


.right-off-canvas-menu, .left-off-canvas-menu {
    height: 100%;
    top: 0px !important;

    .label-link {
        padding: 0;
        margin: 0;
    }
}


.left-off-canvas-menu {
    ul.off-canvas-list li label {
        margin: 11px 0 -5px -7px;
    }

    p {
        color: $bg-white;
        margin-left: 0.5rem;
        font-size: 0.7rem;
    }

}


p {
    font-weight: 300 !important;
}

.top-bar {

    .left-small {
        width: 8rem;
        margin-left: 3em;
    }

    img {
        width: 45px;
        padding-right: 3px;
        margin-top: -8px;
    }

    .title-area {
        margin-right: 18px;
    }

}

.top-bar-section {
    a:not(.button) {
        font-weight: 300;
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: color 200ms linear;
    }

    .active {
        color: $accent-color;
        font-weight: 500 !important;
    }

    .active:after {
        content: "";
        display: block;
        width: 100%;
        position: relative;
        background-color: $accent-color;
        top: 0px;
        height: 3px;
        margin: -3px auto;
    }

}

.top-bar-section ul {
    padding-right: 2rem;
    background-color: $bg-dark;
}

@media #{$medium-only} {
    .top-bar-section {

        li:not(:last-child) {
            display: none;
            //margin-right: -1.2rem;

        }

    }
}

.tab-bar {
    .right-small {
        border-left: 0;
    }

    h1 {
        display: inline-block;
        font-family: "Arial Black";
        font-size: 1.625rem !important;
        margin-left: 3px;
        margin-top: -2px;
    }
}

.curtain, .curtain2 {
    display: block;
    position: relative;
    height: 380px;
    // background-image: url('../img/aid-photo02.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: $bg-dark;
    // border-bottom: 2px solid $primary-red - 30;
    margin-top: 0;
    padding-bottom: 0;

    h1 {
        color: $bg-white;
        font-family: "Georgia";
        text-align: center;
        margin-top: 80px;
        font-size: 5em;
        line-height: 1.0em;
        margin-bottom: 0;
    }

    h1 small {
        color: $bg-white;
        padding-top: 20px;
        display: block;
        font-size: 19%;
        border-top: 1px solid $bg-white;
        width: 61%;
        margin: 14px auto -30px;
    }

    h1 small a {
        color: $bg-white;
    }

    h1 small a:hover {
        color: $bg-white - 20;
    }


    @media #{$medium-only} {
        h1 {
            margin-top: 90px;
            font-size: 3em;
            line-height: 1.0em;
            margin-bottom: 0;
        }

        h1 small {
            width: 49%;
        }
    }

    img#down-arrow{
        display: block;
        position: absolute;
        left: 48.0%;
        image-rendering: -webkit-optimize-contrast;
        top: 322px;
        opacity: 0.2;
    }
}


.curtain2 {
    margin-top: 90px;
}


.curtain:after, .curtain2:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 30px 0;
    border-color: $bg-dark transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -13px;
    left: 48%;
}

.icon-content {
    padding: 100px 0;

    .icon-caption {
        color: $accent-color;
        display: block;
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
    }

}

#footer {
    display: block;
    width: 100%;
    height: 140px;
    background-color: #333;
}

.page-content, .resource-content {
    padding-top: 110px;

    h2, h3 {
        font-family: "Georgia";
        color: #b33131;
    }

    h2 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }
}

.main-content, .page-content {

    p {
        font-size: 1.2rem;
    }

    img {
        border: 5px solid;
        border-color: #ddd;
        transition: border-color 500ms ease;
    }

    img:hover {
        border: 5px solid #bbb;
    }


    .border {
        padding-top: 55px;
        border-top: 2px dashed $bg-white - 40;
    }

    .border.first {
        border-top: none;
    }

    h2, h3 {
        font-family: "Georgia";
        color: $accent-color;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1.5em;
        margin: -30px 0 0 0;
        padding: 10px 0 0 0;
    }

    h2.inline, h3.inline {
        display: inline-block;
        margin: -28px auto;
        float: left;
        height: 1.4em;
        padding-right: 0.3em;
    }

    h3.inline {
        margin: -13px 0 0px;
        padding-right: 0.2em;
    }

    .main-content-text, .page-content-text {
        padding: 30px 0 35px 0;
    }

    p.smaller {
        font-size: 0.8rem;
    }

}

.front-icon {
    display: block;
    margin: 0 auto;
    transition: all 200ms ease;
}

#icon-hosting {
    width: 180px;
}

#icon-natverk {
    width: 168px;
}

#icon-support {
    width: 162px;
}

#icon-sakerhet {
    width: 136px;
}

@media #{$medium-only} {

    #icon-hosting {
        width: 170px;
    }

    #icon-natverk {
        width: 160px;
    }

    #icon-support {
        width: 152px;
        padding-top: 100px;
    }

    #icon-sakerhet {
        width: 126px;
        padding-top: 100px;
    }

}

.icon-container:after {
    content: "+";
    position: absolute;
    right: -14px;
    top: 50px;
    width: 19px;
    height: 19px;
    display: block;
    font-size: 1.8em;
    font-weight: 300;
    color: $bg-dark;
}

@media #{$medium-only} {
    .icon-container:after {
        content: "";
    }
}


@media #{$small-only} {


}

.icon-container:last-child:after {
    content: "";
}

.front-icon:hover{
    margin-top: -6px;
    padding-bottom: 6px;
}

#logo {
    transition: all 600ms ease;
}

#logo:hover {
    -webkit-transform:rotate(-90deg);
    transform:rotate(90deg);
    margin-top: -11px;
}


.team-description {

  margin-top: -20px;

  ul > li {
    font-size: 0.8rem;
    font-weight: 100;
  }

  img.profile, img.profile:hover {
    border: none;
    margin-top: 60px;
  }

  .team-intro {
    width: 90%;
    margin-left: -0.5rem;
  }

  .team-nav {
    small {
      position: relative;
      top: -3px;
    }
    a {
      color: $accent-color;
    }
  }

  .custom-panel {
    @include panel();
    background-color: $bg-dark;
    color: $bg-white;
    margin-top: 20px;
    padding: 30px 0 26px 2rem;
    font-weight: 300;
    border-radius: 3px;

    a {
      color: $bg-white;
    }

    a:hover {
      color: $accent-color;
    }

    div.contact-wrapper {
      display: inline-block;
      margin-top: -10px;
      max-height: 80px;
      overflow: hidden;
      width: 110%;
    }

    span.contact-icon {
      display: inline-block;
      color: $bg-white;
      font-size: 3.5rem;
    }

    span.contact-title {
      display: block;
      font-size: 1.3rem;
    }



    div.contact-info {
      display: inline-block;
      font-size: 0.8rem;
      padding-left: 10px;
      line-height: 1.4rem;
    }
  }
}

.resources-nav {
  a {
    color: $accent-color;
  }

  small {
    position: relative;
    top: -3px;
  }
}

@media #{$small-only} {

  .top-bar img {
    display: none;
  }

  .icon-container:after {
      content: "";
  }

  .icon-container {
      margin-top: -40px;
      margin-bottom: 100px;
  }

  .tab-bar {
    height: 45px;
  }

  p {
    font-size: 0.8rem !important;
  }

  .top-bar-section ul li > a {
    display: none;
    background-color: $bg-dark;
    float: right;
    margin: -20px -50px;
  }

  .curtain2 {
    display: none;
  }

  .icon-content {
    display: none;
  }
  .form {
    display: none;
  }

  h2.inline, h3.inline {
    display: block !important;
    margin: -11px auto 5px auto !important;
    float: none !important;
    height: 100% !important;
    padding-right: 0px !important;
    font-size: 1.8rem !important;
    line-height: 25px !important;
  }

  .main-content .main-content-text {
    padding: 30px 0 27px 0;
  }

  .page-content {
    padding-top: 90px;
  }

  .page-content .page-content-text {
    padding: 0px 0 35px 0;
  }

}


