---
title: produkter > licenser &amp; SAM
---
<div class="page-content">
  <div class="row">
    <div class="small-12 columns">
      <h2>Licenser &amp; SAM</h2>
    </div>
    <div class="medium-8 columns">
      <p><%= lorem.sentences 20 %>
    </div>
    <div class="medium-4 columns right">
      <%= tag :img, :class => 'article-thumb', :src => lorem.image('1200x800', :text => 'placeholder image') %>
      <%= tag :img, :class => 'article-thumb', :src => lorem.image('1200x800', :text => 'placeholder image') %>
    </div>
  </div>
</div>
