---
title: produkter > Servicedesk
---

<div class="page-content">
  <div class="row">
    <div class="small-12 columns">
      <h2>Servicedesk</h2>
      <%= tag :img, :src => lorem.image('1200x500', :text => 'placeholder image') %>
      <p><%= lorem.sentences 20 %>
    </div>
  </div>
</div>
