---
title: om oss > hitta oss
---

<div class="page-content">

  <div class="row">
    <div class="small-12 columns">
      <div id="map"></div>
      <div id="map-controls">
         <span id="zoomIn" href=""><i class="fi-plus"></i></span>
         <span id="zoomOut" href=""><i class="fi-minus"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h2>Hitta oss</h2>
      <div id="address" class="vcard">
        <a class="url fn n" href="http://www.aid.se">  <span class="given-name"></span>
          <span class="additional-name"></span>
          <span class="family-name"></span>
        </a>
        <div class="org">AID Solutions Väst AB</div>
        <div class="adr">
          <div class="street-address">Bergsgatan 3</div>
          <span class="postal-code">43432</span> <span class="locality">Kungsbacka</span><br/>
          <span class="country-name">Sverige</span>
        </div>
        <div>&nbsp;</div>
        <div class="tel"><i class="fi-telephone"></i> 0300-10044</div>
        <div><a class="email" href="mailto:info@aid.se"><i class="fi-mail"></i> info@aid.se</a></div>
        <a type="text/directory" href="http://h2vx.com/vcf/www.aid.se/om-oss/hitta-oss.html"><i class="fi-address-book"></i> Lägg till i addressbok</a>

      </div>


    </div>

  </div>
</div>
