---
title: om oss > kontakt
layout: maplayout
---

<div class="page-content">

  <div class="row">
    <div class="small-12 columns">
      <div id="map"></div>
      <div id="map-controls">
         <span id="zoomHome" href=""><i class="fi-home"></i></span>
         <span id="zoomIn" href=""><i class="fi-plus"></i></span>
         <span id="zoomOut" href=""><i class="fi-minus"></i></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns"><h4>Kontaktuppgifter</h4></div>
  </div>
  <div class="row">
    <div class="small-4 columns">
      <div id="address" class="vcard">
        <div class="org"><strong>AID Solutions Väst AB</strong></div>
        <div class="adr">
          <div class="street-address">Bergsgatan 3</div>
          <span class="postal-code">434 32</span> <span class="locality">Kungsbacka</span><br/>
        </div>
        <div>&nbsp;</div>

      </div>
    </div>
    <div class="small-4 columns">
      <div id="address-info">
        <div class="tel"><i class="fi-telephone"></i> 0300-10044</div>
        <div><a class="email" href="mailto:info@aid.se"><i class="fi-mail"></i> info@aid.se</a></div>
        <a type="text/directory" href="http://h2vx.com/vcf/www.aid.se/om-oss/hitta-oss.html"><i class="fi-address-book"></i> Lägg till i addressbok</a>
      </div>
    </div>

    <div class="small-4 columns">

    </div>

  </div>

  <div class="row border">
    <div class="small-12 columns">


      <div class="small-12 columns panel form" data-equalizer-watch>
        <div class="row">
          <div class="large-6 columns">
            <label>Ärende
              <select>
                <option value="henrik">Support</option>
                <option value="hans">Webb</option>
                <option value="daniel">Övrigt</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Namn</label>
            <input id="input" type="text" placeholder="Ditt namn...">
            <label>Epost</label>
            <input id="input" type="text" name="email" placeholder="Din epost..." required>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Ärende
              <textarea rows="6" placeholder="Ditt ärende..."></textarea>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 right columns">
            <a href="#" class="button radius alert">Skicka</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
